.content__inner {
    margin: 0px auto;
    padding: 30px 15px;
}

.content__title-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: #8B7969;
}

.form {
    width: 80%;
    margin: 0pc auto;
}

.search-form {
    margin: 0pc auto;
}

.search-form__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
    width: 100%;
    height: 40px;
}

.search-form__item-group {
    width: fit-content;
    height: 100%;
    background-color: #FBFBFB;
    border: 1px solid #E3DED9;
}

::placeholder {
    color: #BEB1A6;
    background-color: #F4F4F4;
    border: 1px solid #E3DED9;
}

select {
    color: #8B7969;
}

.search-form__button {
    width: 100px;
}

.search-form__button-submit {
    width: 100%;
    height: 40px;
    background-color: #82756A;
    border: 1px solid #8B7969;
    color: #fff;
}

.search-form__reset-button {
    width: 100px;
}

.search-form__button-reset {
    width: 100%;
    height: 40px;
    background-color: #D9C6B5;
    border: 1px solid #D9C6B5;
    color: #fff;
}

.function {
    width: 140px;
    padding: 8px 20px;
}

.function-button {
    width: 100%;
    color: #8B7969;
    background-color: #E1DBD699;
    border: none;
}

.table {
    width: 100%;
    margin: 0pc auto;
    border: 1px solid #E0DFDE;
}

.table__inner {
    width: 100%;
}

.content__row {
    border-bottom: 1px solid #E0DFDE;
}

.table__header {
    width: 100%;
    padding: 15px;
    background-color: #8B7969;
    color: #fff;
    text-align: left;
}

.table__header-span {
    margin-right: 120px;
}

.table__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table__item-data {
    color: #8B7969;
}

.modal {
    padding: 8px 20px;
    width: 100px;

}

.open-button {
    width: 100%;
    height: 40px;
    background-color: #F4F4F44D;
    border: 1px solid #D9C6B599;
    color: #D9C6B5;
}