body {
    font-family: "Inika", serif;
    font-weight: 400;
    background-color: #fff;
}

.content__inner {
    margin: 0px auto;
    padding: 30px 15px;
}

.content__title-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: #8B7969;
}

.form {
    margin: 0px auto;
    width: 70%;
    text-align: center;
}

.form__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.form__item-title {
    width: 30%;
    display: flex;
    text-align: left;
}

.form__item-content {
    margin-left: 20px;
    width: 50%;
}

p {
    color: #8B7969;
}

span {
    color: red;
}

.content__text {
    text-align: left;
    display: flex;
    align-items: center;
}

.content__text-input {
    width: 100%;
    height: 38px;
    background-color: #f4f4f4;
    border: none;
}

::placeholder {
    color: #BEB1A6;
}

.radio {
    accent-color: #8B7969;
}

label {
    color: #8B7969;
    margin-right: 50px;
}

.content__text-input--tel {
    text-align: center;
    width: 100%;
    height: 38px;
    background-color: #f4f4f4;
    border: none;
    color: #BEB1A6;
}

select {
    color: #BEB1A6;
}

.form__alert {
    text-align: center;
    color: red;
    padding: 10px;
}

.form__alert--danger {
    margin: 0px;
}

.form__button {
    width: 160px;
    margin: 30px auto;
}

.form__button-submit {
    width: 100%;
    padding: 10px 40px;
    background-color: #82756A;
    color: #fff;
    border: none;
    cursor: pointer;
}