body {
    font-family: "Inika", serif;
    font-weight: 400;
    background-color: #fff;
}

.content__inner {
    margin: 0px auto;
    padding: 30px 15px;
}

.content__title-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: #8B7969;
}